* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

main,
aside {
  background-color: #f5f5f5;
}

header {
  background-color: #ffffff;
  width: 100%;
  height: 75px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px 0px #909090;
  border-bottom: 2px solid #22222233;
}
.buscar {
  display: none;
}

.container-header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.container-header h1 {
  padding-left: 6%;
}

#foto-perfil {
  border-radius: 50%;
  width: 10%;
  margin: 3%;
}

#foto-perfil-1 {
  width: 89%;
  border-radius: 50%;
  padding-left: 10px;
}

#foto-perfil-3 {
  width: 50px;
  border-radius: 50%;
  padding-left: 10px;
  padding-top: 6%;
}

.top-post p {
  font-weight: 600;
  font-size: 15px;
}

/* Estilos main */

main {
  display: grid;
  justify-content: left;
  grid-template-rows: repeat(2);
}

aside {
  display: none;
}

.container-history {
  display: flex;
  border: 1px solid #22222238;
  border-radius: 10px;
  justify-content: space-evenly;
  margin: 50px;
  & .desktop {
    display: none;
  }
}
#foto-perfil-principal {
  border-radius: 50%;
  width: 10%;
  margin: 2%;
}

#foto-container-perfil {
  border-radius: 50%;
  width: 60%;
  margin: 10%;
}

.post {
  margin: 0px 50px 50px 50px;
  border: 0.4px solid #22222238;
  border-radius: 10px;
}

.top-post {
  border-bottom: 0.4px solid #22222238;
  display: grid;
  grid-template-columns: 5% 60% 10%;
  justify-content: left;
  gap: 10px;
  align-items: center;
  border-radius: 10px 10px 0 0;
  height: 67px;

  & i {
    display: grid;
    grid-column: 6 / 6;
    justify-content: end;
    padding: 5%;
  }
}
.info-post {
  margin: 0 auto;
  display: table;
  padding: 5%;
  & .foto-perfil {
    margin: 0 auto;
    width: 100%;
  }
  & .interactions ul {
    display: flex;
  }
  & .interactions ul li {
    padding: 1% 3% 1% 0%;
    font-size: 1.5rem;
    cursor: pointer;
  }
  & .comment {
    color: #a49b9b;
    font-size: 13px;
    padding: 1% 0%;
  }
}
.footer_container {
  text-align: center;
  background-color: #222222;
  color: #ffffff;
  width: 100%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 10px;
  font-weight: 400;

  & h4 {
    padding: 10px 0;
  }
}

.texto1 {
  padding: 1% 0%;
  font-size: 15px;
}

.text2 {
  padding: 1% 0%;
  font-size: 15px;
}

.texto3 {
  padding: 1% 0%;
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  .buscar {
    display: block;
    width: 400px;
    height: 40px;
    border: 1px solid #22222238;
    border-radius: 5px;
    padding: 5px;
  }
  aside {
    display: block;
    float: right;
    padding-top: 50px;
    height: 95%;
    padding-right: 180px;

    & .abril-1 {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }

    & .abril-2 {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    & .gonza {
      flex-direction: column;
      justify-content: center;
    }

    & .camn {
      color: #1ca0f6;
    }

    & .suge {
      padding-top: 50px;
      color: #808080;
      font-weight: bold;
    }
  }
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer-container {
    flex-direction: column;
    gap: 20px;
  }
  .container-history {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    & .desktop {
      display: block;
    }
  }
  #foto-perfil-principal {
    border-radius: 50%;
    width: 3%;
    margin: 2%;
  }

  #foto-perfil-2 {
    width: 20%;
    border-radius: 50%;
  }

  .insta {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  main {
    padding-left: 120px;
    padding-right: 120px;
  }

  .container-perfil {
    display: flex;
    justify-content: center;
    & .desktop {
      display: flex !important;
    }
  }

  .top-post {
    grid-template-columns: 5% 74% 10%;
  }
}
